<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>JFT Soccer</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Massimo Redomi">

  <link href="css/style.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-blu">
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg px-5 border-bottom-green">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="JFT Soccer" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
          <li class="nav-item">
            <a class="nav-link" href="/" id="nav-news"><h6>NEWS</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-stats"><h6>STATISTICS</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-chats"><h6>CHAT</h6></a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link interactable" href="#" id="nav-login" data-action="openLoginModal"><h6>LOGIN</h6></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close interactable" data-action="closeModal">&times;</span>
    <div class="container-fluid d-flex align-items-center flex-column">
      <a class="navbar-brand interactable" href="#" data-action="closeLoginModal">
        <img src="images/logo-black.png" alt="JFT Soccer" height="60">
      </a>
      <div class="my-4">
        <div id="congrats"><h3>Log in to your account</h3></div>
        <div id="congrats2"><p>Don't have an account? <a href="#" class="interactable" data-action="openSignModal">Sign Up</a></p></div>
      </div>
      <form id="loginForm" class="my-4">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div id="loginErrors"></div>
        <button type="submit" class="interactable" data-action="sendLoginRequest">Login</button>
      </form>
    </div>
  </div>
</div>

<div id="signinModal" class="modal">
  <div class="modal-content">
    <span class="close interactable" data-action="closeModal">&times;</span>
    <div class="container-fluid d-flex align-items-center flex-column">
      <a class="navbar-brand interactable" href="#" data-action="closeLoginModal">
        <img src="images/logo-black.png" alt="JFT Soccer" height="60">
      </a>
      <div class="my-4">
        <h3>Sign up</h3>
        <p>Do you have an account? <a href="#" class="interactable" data-action="openLoginModal">Login</a></p>
      </div>
      <form id="signForm" class="my-4">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Set a password:</label>
          <input type="password" id="password1" name="password1" required>
        </div>
        <div class="form-group">
          <label for="password">Repeat password:</label>
          <input type="password" id="password2" name="password2" required>
        </div>
        <div id="passwordErrors"></div>
        <button type="submit" class="interactable" data-action="sendSignRequest">Create account</button>
      </form>
    </div>
  </div>
</div>

<main id="news-container" class="top">
  <div class="banner">
    <div class="allImages">
      <div class="imageBanner">
        <img src="images/heroe1.jpg" alt="Feel the pulse of soccer" loading="lazy">
      </div>
      <div class="imageBanner">
        <img src="images/heroe2.jpg" alt="From past to present" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div class="container-fluid mb-4 py-4 bg-black rounded-3">

          <div class="container-fluid d-flex flex-row align-items-center justify-content-center border-bottom-green mb-4">
            <img src="images/trophy.svg" alt="Champions" width="25px" class="me-2">
            <h4 class="mb-0 text-white">CHAMPIONS</h4>
          </div>
          <div id="champions"><h4 class="text-white">Loading...</h4></div>
          <a href="#" id="toggleChampions" data-action="loadMoreLessChampions"  class="interactable links  border-top-green text-center">See More</a>

        </div>
        <div class="container-fluid mb-4 py-4 bg-black rounded-3">

          <div class="container-fluid d-flex flex-row align-items-center justify-content-center border-bottom-green mb-4">
            <img src="images/report.svg" alt="Nations" width="25px" class="me-2">
            <h4 class="mb-0 text-white">NATIONS</h4>
          </div>
          <div id="nations"><h4 class="text-white">Loading...</h4></div>

        </div>
        <div class="container-fluid mb-4 py-4 bg-black rounded-3">

          <div class="container-fluid d-flex flex-row align-items-center justify-content-center border-bottom-green mb-4">
            <img src="images/club.svg" alt="Clubs" width="25px" class="me-2">
            <h4 class="mb-0 text-white">CLUBS</h4>
          </div>
          <div id="clubs"><h4 class="text-white">Loading...</h4></div>
          <a href="#" id="toggleClubs" data-action="loadMoreLessClubs"  class="interactable links  border-top-green text-center">See More</a>

        </div>
        <div class="container-fluid mb-4 py-4 bg-black rounded-3">

          <div class="container-fluid d-flex flex-row align-items-center justify-content-center border-bottom-green mb-4">
            <img src="images/app-store.svg" class="me-2" alt="Apps" width="25px">
            <h4 class="mb-0 text-white">Betting Apps</h4>
          </div>
          <ul class="list-unstyled">
            <li class=""><a href="https://play.google.com/store/apps/details?id=com.bet365Wrapper.Bet365_Application&hl=en_GB&gl=GB&pli=1" class="links">Bet365 app</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.williamhill.sports.android&hl=en_GB&gl=GB" class="links">William hill app</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.mobenga.ladbrokes&hl=en_GB&gl=GB" class="links">Ladbrokes App</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.gala.android.vegas&hl=en_GB&gl=GB" class="links">Coral app</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.paddypower.sportsbook.u.inhouse&hl=en_GB&gl=GB" class="links">Paddy power app</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.betfred.mobilecontainer&hl=en_GB&gl=GB" class="links">Betfred app</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.betvictor.bettingapp.uk&hl=en_GB&gl=GB" class="links">BetVictor app</a></li>
          </ul>

        </div>
        <div class="container-fluid mb-4 py-4 bg-black rounded-3">

          <div class="container mx-auto d-flex flex-row align-items-center justify-content-center border-bottom-green mb-4">
            <img src="images/discount.svg" alt="Offers" width="25px" class="me-2">
            <h4 class="mb-0 text-white">Offers</h4>
          </div>
          <ul class="list-unstyled">
            <li><a href="https://promos.betfair.com" class="links">Betfair Sign Up Offer</a></li>
            <li><a href="https://www.telegraph.co.uk/betting/sports-guides/betvictor-sign-up-offer/" class="links">BetVictor Sign Up Offer</a></li>
            <li><a href="https://promo.bwin.it/it/promo/offersmatch" class="links">Bwin Sign Up Offer</a></li>
            <li><a href="https://www.matchbook.com/en/offers" class="links">Matchbook Bonus Code</a></li>
            <li><a href="https://ro.betano.com/article/en/bonus-terms/221663/" class="links">Betano Bonus Code</a></li>
          </ul>

        </div>
      </div>
      <div class="col-md-9">
          <div id="news"></div>
          <a href="#" id="toggleNews" onclick="toggleNews(); return false;"  class="links border-top-green text-center text-grey">See More</a>
      </div>
    </div>
  </div>

</main>

<main id="stats-container" class="top">
  <div class="container-fluid my-5">

    <div class="row border-bottom-green">

      <div class="col-md-12">
        <div class="container search-container p-5 d-flex flex-row align-items-center justify-content-between">
          <textarea class="form-control search-area" placeholder="Competition"></textarea>
          <textarea class="form-control search-area" placeholder="Match"></textarea>
          <textarea class="form-control search-area" placeholder="Club"></textarea>
          <textarea class="form-control search-area" placeholder="Nation"></textarea>
          <button class="btn search-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.9-3.9a1.05 1.05 0 0 0-.066-.066zM13 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            SEARCH
          </button>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-3 border-right-green">
          <div class="container-fluid d-flex flex-column align-items-center my-4">
            <select id="nation_dropdown"  name="nation" class="interactable" data-action="loadConnectedDataNation"></select>
            <div id="champions_nation_list">
              <p class="text-white">Loading... </p>
            </div>
          </div>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-3 border-left-green">

      </div>
    </div>
    <div class="row border-top-green">
      <div class="col-md-12">

      </div>
    </div>
  </div>
</main>

<main id="chats-container" class="top">
  <div id="initial_form" style="display: block">
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
      <p><label for="name"> Your name </label>
        <input type="text" id="name" name="name">
      </p>
      <p>
        <label for="roomNo"> Your room </label>
        <input type="text" id="roomNo" name="roomNo">
        <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
      </p>
      <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
  </div>
  <div id="chat_interface" style="display: none">
    <div id="chat_container" class="split left">
      <h1>Chat</h1>
      <div>
        <div id="who_you_are" style="display: inline"></div>
        , you are chatting in room:
        <div id="in_room" style="display: inline"></div>
      </div>
      <div id="chat_history" class="boxed"></div>
      <div id="chat_box" class="bottom boxed">
        <form onsubmit="return false;" style="width: 100%">
          <p>
            <label for="name"> chat: </label>
            <input type="text" id="chat_input" name="chat_input" style="width: 80%">
            <button id="chat_send" onclick="sendChatText()">Send</button>
          </p>
        </form>
      </div>
    </div>
    <div id="news_container" class="split right">
      <h1>News</h1>
      <div id="news_history" class="boxed"></div>
      <div id="news_box" class="bottom boxed">
        <form onsubmit="return false;" style="width: 100%">
          <p>
            <label for="name"> news: </label>
            <input type="text" id="news_input" name="news_input" style="width: 80%">
            <button id="news_send" onclick="sendNewsText()">Send</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</main>


<footer class="px-5 pt-5">
  <div class="container-fluid">
    <div class="row pb-3">
      <div class="col-md-3 col-6 d-flex">
        <div>
          <h5 class="bold">JFT SOCCER - In-Depth Analysis </h5>
          <p>
            Your ultimate destination for Soccer Statistics! Dive into the thrilling world
            of soccer like never before with our comprehensive database of player performances,
            team stats, match analyses, and more.
          </p>
        </div>
      </div>
      <div class="col-md-1 d-none d-sm-none d-md-block"></div>
      <div class="col-md-2 col-6 d-flex">
        <div>
          <h5 class="bold">Index</h5>
          <ul class="list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="#" id="nav-news"><p>News</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="nav-stats"><p>Statistics</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="nav-chats"><p>Chat</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="nav-login"><p>Login</p></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 col-6 d-none d-sm-none d-md-block"></div>
      <div class="col-md-2 col-6 d-flex">
        <div>
          <h5 class="bold">Contact us</h5>
          <ul class="list-unstyled">
            <li><a href="https://maps.app.goo.gl/e3SugdntkVL4ppe69" target="_blank">Via Pessinetto 12 - 10149 Torino, Italia</a></li>
            <li><a href="tel:+393917098885">Tel: +39 391 709 8885</a></li>
            <li><a href="mailto:info@trevisteps.com">Email: massimo.redomi@edu.unito.it</a></li>
            <li><a href="https://wa.me/+393917098885?text=I'm interest in more information" target="_blank">WhatsApp: +39 391 709 8885</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 d-none d-sm-none d-md-block"></div>
      <div class="col-md-1 col-6 d-flex flex-column">
        <h5 class="bold">Follow us</h5>
        <div class="d-flex">
          <a href="#" class="me-2">
            <img src="images/instagram.png" alt="Instagram" style="width: 30px;">
          </a>
          <a href="#" class="me-2">
            <img src="images/facebook.png" alt="Facebook" style="width: 30px;">
          </a>
          <a href="#">
            <img src="images/tik-tok.png" alt="TikTok" style="width: 30px;">
          </a>
        </div>
      </div>
    </div>
    <div class="row footer-row border-top py-4">
      <div class="col-6">
        <p>Copyright 2024 </p><a href="#">Massimo Redomi</a>
      </div>
      <div class="col-6 text-end">
        <a href="#">Terms Privacy Policy </a><p>and </p><a href="#">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>

<script  type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script  type="text/javascript" src="js/slideshow.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="js/components.js"></script>
<script type="text/javascript" src="js/handlers.js"></script>
<script type="text/javascript" src="js/apiService.js"></script>
<script type="text/javascript" src="js/content.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/webDataUtils2.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/chat.js"></script>


</body>

</html>
