
<head>
    <meta charset="utf-8" />
    <title>JFT Soccer</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Massimo Redomi">

    <link href="css/style.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="">
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg px-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png" alt="JFT Soccer" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/" id="nav-news"><h6>NEWS</h6></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stat" id="nav-stat"><h6>STATISTICS</h6></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-login"><h6>LOGIN</h6></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
</main>

<footer class="px-5 pt-5">
    <div class="container-fluid">
        <div class="row pb-3">
            <div class="col-md-3 col-6 d-flex">
                <div>
                    <h5 class="bold">JFT SOCCER - In-Depth Analysis </h5>
                    <p>
                        Your ultimate destination for Soccer Statistics! Dive into the thrilling world
                        of soccer like never before with our comprehensive database of player performances,
                        team stats, match analyses, and more.
                    </p>
                </div>
            </div>
            <div class="col-md-1 d-none d-sm-none d-md-block"></div>
            <div class="col-md-2 col-6 d-flex">
                <div>
                    <h5 class="bold">Index</h5>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="nav-news"><p>News</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="nav-stat"><p>Statistics</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="nav-login"><p>Login</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-6 d-none d-sm-none d-md-block"></div>
            <div class="col-md-2 col-6 d-flex">
                <div>
                    <h5 class="bold">Contact us</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://maps.app.goo.gl/e3SugdntkVL4ppe69" target="_blank">Via Pessinetto 12 - 10149 Torino, Italia</a></li>
                        <li><a href="tel:+393917098885">Tel: +39 391 709 8885</a></li>
                        <li><a href="mailto:info@trevisteps.com">Email: massimo.redomi@edu.unito.it</a></li>
                        <li><a href="https://wa.me/+393917098885?text=I'm interest in more information" target="_blank">WhatsApp: +39 391 709 8885</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 d-none d-sm-none d-md-block"></div>
            <div class="col-md-1 col-6 d-flex flex-column">
                <h5 class="bold">Follow us</h5>
                <div class="d-flex">
                    <a href="#" class="me-2">
                        <img src="images/instagram.png" alt="Instagram" style="width: 30px;">
                    </a>
                    <a href="#" class="me-2">
                        <img src="images/facebook.png" alt="Facebook" style="width: 30px;">
                    </a>
                    <a href="#">
                        <img src="images/tik-tok.png" alt="TikTok" style="width: 30px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="row footer-row border-top py-4">
            <div class="col-6">
                <p>Copyright 2024 </p><a href="#">Massimo Redomi</a>
            </div>
            <div class="col-6 text-end">
                <a href="#">Terms Privacy Policy </a><p>and </p><a href="#">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>

<script  type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script  type="text/javascript" src="js/slideshow.js"></script>

</body>

</html>
