@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
  color: white;
}

.svg-container {
  width: 25px;
  pointer-events: none;
}
.svg-container svg {
  width: 100%;
  height: 100%;
}

.bg-links{
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.bg-links:hover {
  color: #05A840;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4%;
}

.bg-links:hover h4{
  color: #05A840;
}

.bg-links:hover p{
  color: #05A840;
}

.links {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.links:hover {
  color: #05A840;
}

.links:hover h4{
  color: #05A840;
}

.links:hover p{
  color: #05A840;
}

.top{
  margin-top: 10vh;
}

#stats-container, #chats-container {
  display: none;
}

.disabled {
  pointer-events: none;
  color: grey;
}


.button-prime {
  width: 100%;
  background-color: #05A840;
  color: #F0F0F0;
  font-size: 1.2rem;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 8px;
}

.button-prime:hover {
  background-color: #037730;
  color: #ffffff;
}

.boxed {
  width: 100%; /* Adjust the width as needed */
  height: 300px; /* Fixed height */
  overflow-y: auto; /* Allows vertical scrolling */
  padding: 10px; /* Padding inside the box */
}

/* Additional styles for scrollbar appearance */
.boxed::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.boxed::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.boxed::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

.boxed::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.interactable p {
  margin-bottom: 0;
  pointer-events: none;
}

/* FONT DIMENSION */
.bold{
  font-weight: bold;
  font-style: normal;
}

.light{
  font-weight: 300;
  font-style: normal;
}

.medium{
  font-weight: normal;
  font-style: normal;
}
/* END FONT DIMENSION*/

/* FONT COLOR */
.text-blu{
  font-weight: normal;
  font-style: normal;
  color:#011E28;
}

.text-green{
  font-weight: normal;
  font-style: normal;
  color:#05A840;
}

.text-red{
  font-weight: normal;
  font-style: normal;
  color:#DC0100;
}

.text-grey{
  font-weight: normal;
  font-style: normal;
  color:#F0F0F0;
}

.text-white{
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}
/* END FONT COLOR */

/* BACKGROUND COLOR */
.bg-blu{
  background-color:#011E28;
}

.bg-green{
  background-color:#05A840;
}

.bg-red{
  background-color:#DC0100;
}

.bg-grey{
  background-color:#F0F0F0;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* END BACKGROUND COLOR */

/* BORDER COLORS */
.border-bottom-green{
  border-bottom: 0.5px solid rgba(5, 168, 64, 0.41)!important
}

.border-top-green{
  border-top: 0.5px solid rgba(5, 168, 64, 0.41)!important
}

.border-left-green{
  border-left:0.5px solid rgba(5, 168, 64, 0.41) !important
}

.border-right-green{
  border-right:0.5px solid rgba(5, 168, 64, 0.41)!important
}

.border-green{
  border:0.5px solid rgba(5, 168, 64, 0.41)!important;
}
.border-bottom-grey{
  border-bottom: 0.001rem solid #013244 !important;
}
/* END BORDER COLORS */


/* NAVBAR */
.navbar {
  font-weight: 300;
  font-style: normal;
  background-color: #011E28 !important;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white !important;
  display: block;
  width: 100%;
}

.navbar-nav .nav-link h6 {
  color: white;
  display: inline-block;
  pointer-events: none;
}
.navbar-nav .nav-link.active h6 {
  color: #05A840;
}

.navbar-nav .nav-link:hover h6 {
  position: relative;
  color: inherit;
}

.navbar-nav .nav-link:hover h6::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background-color: #05A840;
  border-radius: 1px;
}
@media (max-width: 768px) {
  .navbar-nav .nav-link h6::after {
    left: 0;
    width: 100%;
  }
}
.navbar-nav .active-link h6 {
  display: inline-block;
  position: relative;
}
.navbar-nav .active-link h6::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #05A840;
  border-radius: 1px;
  position: absolute;
  left: 10%;
  bottom: 0px;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/** END NAV-BAR **/

/** FOOTER **/
footer{
  background-color: #05A840;
}
footer a {
  display: inline;
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
  display: inline;
}

footer a:hover {
  text-decoration: none;
  color: #011E28;
}

footer h5{
  color: white;
  font-family: 'Bold', sans-serif;
}

footer ul.list-unstyled li:hover p {
  color: #011E28;
}
/* END FOOTER */

/* SLIDESHOW */
.banner {
  position: relative;
  max-height: 60vh;
  overflow: hidden;
}

.banner .allImages {
  height: 100%;
  transition: opacity 6.5s ease-in-out;
  display: flex;
}

.banner .allImages .imageBanner {
  width: 100%;
  overflow: hidden;
}

.banner .allImages .imageBanner img {
  width: 100%;
  object-fit: cover;
  height: auto;
  object-position: center;
}
/* END SLIDESHOW */


/* NEWS */
.content-wrapper {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}


.content-wrapper .news-card {
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 300px;
  max-width: 900px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}


@media (min-width: 900px) {
  .content-wrapper .news-card {
    height: 20rem;
  }
}

.content-wrapper .news-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 80%);
  z-index: 0;
}

.content-wrapper .news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-wrapper .news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.content-wrapper .news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  transition: background-color 1.5s ease;
}

.content-wrapper .news-card__title {
  transition: color 1s ease;
  margin-bottom: .5rem;
}

.content-wrapper .news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .content-wrapper .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }

  .content-wrapper .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .content-wrapper .news-card:hover .news-card__title {
    color: #05A840;
  }

  .content-wrapper .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.content-wrapper .news-card__excerpt {
  font-weight: 300;
}

.content-wrapper .news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.content-wrapper .news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.content-wrapper .news-card__read-more:hover i {
  left: 0.5rem;
  color: #05A840;
}
/* END NEWS */

/* SEARCH-BAR */
.search-container .search-area {
  background-color: #95a5a6;
  border: none;
  margin-right: 5px;
  color: black;
  height: 38px;
}

.search-container .search-button {
  background-color: #05A840;
  color: white;
  border: none;
  height: 38px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-container .bi-search {
  width: 1rem;
  height: 1rem;
}

.search-container {
  gap: 5px;
}
/* END SEARCH-BAR */

/* DROPDOWN */
#nation_dropdown {
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid #05A840;
  padding: 8px;
}


#nation_dropdown option {
  background-color: #fff;
  color: #333;
}
/* END DROPDOWN */



/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 60%;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 0.5em;
}

#loginButton {
  width: 100%;
  background-color: #05A840;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* END MODAL */

/* SCROLL BAR */
.scrollbar-style {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888888 rgba(0, 0, 0, 0.2);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.scroll-container {
  max-height: 550px;
  overflow-x: hidden;
}
.scroll-container1 {
  max-height: 450px;
  overflow-x: hidden;
}
.scroll-container2 {
  height: 300px;
  overflow-x: hidden;
}

.scroll-container,
.scroll-container1,
.scroll-container2 {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888888 rgba(0, 0, 0, 0.2);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll-container::-webkit-scrollbar,
.scroll-container1::-webkit-scrollbar,
.scroll-container2::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track,
.scroll-container1::-webkit-scrollbar-track,
.scroll-container2::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.scroll-container::-webkit-scrollbar-thumb,
.scroll-container1::-webkit-scrollbar-thumb,
.scroll-container2::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}
/* END SCROLL BAR */

.red_card {
  width: 20px;
  height: 25px;
  border-radius: 20%;
  background-color: #DC0100;
}

.yellow_card {
  width: 20px;
  height: 25px;
  border-radius: 20%;
  background-color: #F3A000;
}

.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.selected a{
  color: #05A840;
}

.selected p{
  color: #05A840;
}

.selected h4{
  color: #05A840;
}

/* TOOLTIP */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.77);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 9999;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* END TOOLTIP */

/* SUGGESTION SEARCH BAR */
.suggestions-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: calc(100% - 2px); /* Ensures the container is the same width as the input field */
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
  top: 100%; /* Position below the input */
  left: 0;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.search-container {
  position: relative; /* Ensures the suggestions container is positioned correctly */
}

.form-control {
  width: auto; /* Ensures the input fields do not shrink */
  flex: 1; /* Makes sure input fields take available space */
}

/* END SUGGESTIONS SEARCH BAR*/